/* LOGIN STYLES */
body{
    background-color: #f1f1f1;
    font-family: 'Muli', sans-serif;
}

#login{    
    margin: 0px auto;   
    margin-top: 200px;
    display: table;
    background: #fff;
    border-radius: 5px;
    border: solid 1px #edeeee;
    height: 260px;
    width: 400px;
    text-align: center;
}

.title{
    margin: 20px 0px;
}

.title h1{
    color: #08c;
    font-size: 24px;
}

form table{
    margin: 0px auto;
}

form table input{
    padding: 5px;
    border: solid 2px #edeeee;
    border-radius: 3px;
    margin: 0px auto;
    display: block;
}

form input[type=submit]{
    margin-top: 10px;
    background-color: #08c; 
    width: 150px;
    padding: 7px;
    color: white;
    border-radius: 5px;
    border: solid 1px #edeeee;
}

form input[type=submit]:hover{
    background-color: #004B7D; 
    cursor: pointer;
}
/* END LOGIN STYLES */